.container {
  display: flex;
  flex-direction: column-reverse;
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

.question-item {
  list-style: none;
  text-align: left;
  margin-bottom: 10px;
  height: 20px;
  outline: 2px solid red;
}

.costWinning {
  list-style: none;
}

.costWinRed {
  background-color: red;
}
