* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  overflow: hidden;
}

.body-page {
  min-height: 100vh;
  padding: 0;
  margin: 0;
  background: url('img/bckg.png');
  background-repeat: no-repeat;
  background-color: #040C15;
  overflow: hidden;
}

.logo-img {
  margin: 0 auto;
  margin-top: 15px;
  width: 434px;
  height: 434px;
  background: url('img/centr-logo-bkcg.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.tips {
  display: flex;
  justify-content: center;
  margin: 40px auto;
  width: 283px;
}

.tipAll {
  width: 66px;
  height: 47px;
  left: 802px;
  top: 48px;  
  padding: 5px;
  background: radial-gradient(67.01% 9609.94% at 50.1% 77.5%, #164F7F 40%, #658AA5 79.01%, rgba(17, 17, 17, 0) 100%, #008AFF 100%);
  border-radius: 30px;
  cursor: pointer;
}

.tipOpacity {
  opacity: 0.4;
}

.tipAll:first-child {
  margin-right: 15px;
}
.tipAll:last-child {
  margin-left: 15px;
}

.span-tips__50 {
  display: block;
  width: 51px;
  height: 14px;
  background-image: url('img/50_50.png');
  background-repeat: no-repeat;
  background-position: center;
}

.span-pollAudience {
  display: block;
  width: 51px;
  height: 30px;
  background-image: url('img/pollaud.png');
  background-repeat: no-repeat;
  background-position: center;
}

.span-callFriend {
  display: block;
  width: 51px;
  height: 33px;
  background-image: url('img/tipsphone.png');
  background-repeat: no-repeat;
  background-position: center;
}

.container {
  position: relative;
  width: 1120px;
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
}

.question-list {
  width: 65%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.question-item {
  width: 50%;
  height: 45px;
  margin-bottom: 10px;
  color: white;
  padding-left: 30px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 5px;
  background-image: url('img/answBtn.png');
  background-repeat: no-repeat;
  background-size: contain;
  list-style: none;
  text-align: left;
  cursor: pointer;
}

.question-title {
  width: 65%;
  height: 100px;
  margin: 0 auto;
  margin-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 25px;
  padding-bottom: 20px;
  color: white;
  font-weight: 500;
  background-image: url('img/titleBtn.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.costWinning {
  position: absolute;
  right: 10px;
  top: 135px;
  display: flex;
  flex-direction: column-reverse;
  list-style: none;
}

.costWinning-item {
  width: 80px;
  margin-bottom: 3px;
  padding-left: 5px;
  text-align: left;
  color: #F4952E;
  font-size: 18px;
  border-radius: 5px;
}

.costWinGold {
  background: linear-gradient(180deg, #FAD448 0%, #F38D2A 100%);
  color: black;
}

.correctAnswer {
  width: 50%;
  height: 45px;
  background: url('img/correctAnswBig.png');
  background-repeat: no-repeat;
  /* background: radial-gradient(67.01% 9609.94% at 50.1% 77.5%, #FFC900 0%, #F38D2A 100%) 350px 45px; warning: gradient uses a rotation that is not supported by CSS and may not behave as expected; */
  border-radius: 24px;
}

.incorrectAnswer {
  width: 50%;
  height: 45px;
  background-image: url('img/incorrectAnswBig.png');
  background-repeat: no-repeat;
  border-radius: 24px;
}

.game-box {
  position: relative;
  width: 100%;
  height: 355px;
  padding-top: 30px;
  font-family: 'Open-sans', sans-serif;
}

.callfriendmodal {
  position: absolute;
  padding: 10px 20px;
  top: 0;
  width: 626px;
  height: 444px;
  background-image: url('img/bckg-modal.png');
  background-color: #04090c;
  background-repeat: no-repeat;
}

.hide {
  display: none;
}
.show {
  display: block;
}

.callmodaltitle, .callmodaltext, .callmodaltextanswer, .calltitle, .polltitle {
  margin: 0;
  color: #ffffff;
  font-family: cursive;
}

.callmodaltitle {
  margin: 0;
  margin-top: 100px;
  font-family: cursive;
  font-size: 28px;
}

.callmodaltext {
  margin-top: 20px;
  font-size: 22px;
}

.callmodaltextanswer {
  margin-top: 50px;
  font-size: 22px;
}

.closemodal, .closemodalPoll {
  position: absolute;
  bottom: 35px;
  right: 26%;
  width: 281px;
  height: 41.04px;
  background: linear-gradient(180deg, #FAD448 0%, #F38D2A 100%);
  font-size: 20px;
}

.calltitle {
  position: absolute;
  top: 16px;
  right: 42%;
}

.pollaudience {
  position: absolute;
  padding: 10px 20px;
  top: 0;
  width: 626px;
  height: 444px;
  background-image: url('img/bckg-modal.png');
  background-color: #04090c;
  background-repeat: no-repeat;
}

.pollAnswers {
  display: flex;
  justify-content: center;
  height: 300px;
}

.pollAnswertext {
  margin-top: 10px;
  font-size: 24px;
  font-family: cursive;
  color: #ffffff;
}

.pollAnswercolumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  width: 25%;
  margin-right: 20px;
}

.pollcolorcolumn {
  width: 40px;
  height: 50%;
  background-color: red;
}

.pollcolorcolumn100 {
  height: 100%;
}

.polltitle {
  margin-top: 8px;
}

.bckgMusic {
  position: absolute;
  left: 0;
  top: 125px;
  background-color: #040C15;
  width: 40px;
  height: 40px;
  background-image: url('img/icon-play.png');
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
}

.bckgMusicStop{
  background-image: url('img/icon-stop.png');
}
.bckgMusicPlay{
  background-image: url('img/icon-play.png');
}


@media (max-width: 1200px) {
  .costWinning {
    right: 0;
  }
  .bckgMusic {
    left: 0;
  }
  .container {
    width: 900px;
  }

  .question-title{
    padding-top: 20px;
    font-size: 20px;
  }

  .question-item:first-child{
    left: 163px;
  }

  .question-item:nth-child(3){
    top: 173px;
    left: 163px;
  }

  .question-item:nth-child(2){
    right: 100px;
  }
  .question-item:last-child{
    top: 173px;
    right: 100px;
  }
}


@media (max-width: 770px){
  .container{
    width: 500px;
  }

  .logo-img {
    margin-top: 10px;
    background-image: url('img/centr-logo-bkcg-min.png');
    width: 250px;
    height: 250px;
  }

  .callfriendmodal, .pollaudiencemodal {
    width: 388px;
    background-image: url('img/bckg-modal-min.png');
    height: 270px;
  }

  .pollanswblock {
    height: 100%;
  }

  .callmodaltitle {
    margin: 0;
    margin-top: 22px;
    font-size: 18px;
  }

  .callmodaltextanswer{
    margin-top: 11px;
    font-size: 18px;
}

  .callmodaltext {
    margin-top: 18px;
    font-size: 18px;
  }

  .closemodal, .closemodalPoll{
    bottom: 10px;
    right: 15%;
  }

  .pollAnswers{
    height: 70%;
  }

  .costWinning{
    right: 20px;
  }
}


@media (max-width: 720px) {

  .question-item {
    width: 176px;
  }

.question-item {
  text-align: center;
}

  .question-item:first-child {
    top: 160px;
    left: 36%;
}

.question-item:nth-child(2) {
  top: 205px;
  left: 36%;
}

.question-item:nth-child(3) {
  top: 250px;
  left: 36%;
}

.question-item:last-child {
  top: 295px;
  left: 36%;
}

.bckgMusic {
  left: 70px;
}

.costWinning {
  right: 50px;
  top: 16px;
}

@media (max-width: 480px){
  .container {
    width: 380px;
  }

  .tips {
    margin: 10px auto;
  }

  .bckgMusic{
    top: 85px;
    left: 50px;
  }

  .logo-img{
    width: 200px;
    height: 200px;
  }

  .costWinning{
    display: none;
    position: relative;
    right: 0;
    align-items: center;
    width: 100%;
  }

  .question-item:first-child {
    width: 56%;
    left: 22%;
}

  .question-item:nth-child(2) {
    width: 56%;
    left: 22%;
  }

  .question-item:nth-child(3) {
    width: 56%;
    left: 22%;
  }

  .question-item:last-child {
    width: 56%;
    left: 22%;
  }

  /* .question-title {
    top: 36px;
    left: 23%;
    width: 58%;
  } */
}
}
